<!-- <!-- @if (images) {
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[0]" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[1]" alt="Random second slide" />
			</div>
			<div class="carousel-caption">
				<h3>Second slide label</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[2]" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>Third slide label</h3>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			</div>
		</ng-template>
	</ngb-carousel>
} -->
	<!-- app.component.html -->
<!-- <div class="container-fluid mt-2">
	<div class="row align-items-center">
	  <div class="col-md-6 text-center text-md-start">
		<p class="lead">Welcome!</p>
		<h1 class="display-4 fw-bold">PET STORE AND BEYOND</h1>
		<p class="lead">Choose the service they love or start shopping now</p>
		<div class="mt-4">
		  <button class="btn btn-warning btn-lg me-2">Shop now</button>
		  <div class="btn-group">
			<button type="button" class="btn btn-outline-warning btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			  Pet Services
			</button>
			<ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="#">Grooming</a></li>
			  <li><a class="dropdown-item" href="#">Daycare</a></li>
			  <li><a class="dropdown-item" href="#">Training</a></li>
			</ul>
		  </div>
		</div>
	  </div>
	  <div class="col-md-6 text-center">
		<img src="../../../assets/images/cat-love-being-affectionate-towards-each-other (1).png" alt="Pet Dog" class="img-fluid main-image">
		
	  </div>
	</div>
  </div>
   -->
    <ngb-carousel>
	<ng-template ngbSlide>
	    <div class="carousel-item custom-carousel-item first">
			<div class="container mt-2 slide-content">
			  <div class="d-flex align-items-center custom-row">
				<div class="text-container custom-text">
				  <p class="leads">Welcome!</p>
				  <p class="  pet fw-bold">Your One-Stop Shop for  
					</p> 
					<p class="  pet fw-bold">  
						Pet Love and Care</p> 
						<div>
							<p class="lead">Discover a wide range of products, services
								and adoption opportunities.</p>
						</div>
                   

				  <div class="mt-4">
					<button class="btn    me-2">Shop now</button>
					<div class="btn-group ">
					  <button type="button" class="btn  btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Pet Services
					  </button>
					  <ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Grooming</a></li>
						<li><a class="dropdown-item" href="#">Training</a></li>
						<li><a class="dropdown-item" href="#">Adoption</a></li>
					  </ul>
					</div>
				  </div>
				</div>
				<div class="image-container custom-image-container">
				  <img src="../../../assets/images/cat-love-being-affectionate-towards-each-other (1).png" alt="Dog" class="img-fluid main-image">
				</div>
			  </div>
			</div>
		  </div>
	 
	</ng-template>
  
	<ng-template ngbSlide>
	  <div class="carousel-item">
		<div class="container mt-2">
		  <div class="row align-items-center">
			<div class="col-md-6 text-center text-md-start">
			  <p class="lead">Welcome to Slide 2!</p>
			  <h1 class="display-4 fw-bold">More Pet Adventures</h1>
			  <p class="lead">Explore our latest services and products</p>
			  <div class="mt-4">
				<button class="btn btn-warning btn-lg me-2">Shop now</button>
				<div class="btn-group">
				  <button type="button" class="btn btn-outline-warning btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Pet Supplies
				  </button>
				  <ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Toys</a></li>
					<li><a class="dropdown-item" href="#">Food</a></li>
					<li><a class="dropdown-item" href="#">Accessories</a></li>
				  </ul>
				</div>
			  </div>
			</div>
			<div class="col-md-6 text-center">
			  <img src="../../../assets/images/cat-in-box.png" alt="Cat in Box" class="img-fluid main-image">
			</div>
		  </div>
		</div>
	  </div>
	</ng-template>
  
	<ng-template ngbSlide>
	  <div class="carousel-item">
		<div class="container mt-2">
		  <div class="row align-items-center">
			<div class="col-md-6 text-center text-md-start">
			  <p class="lead">Discover More!</p>
			  <h1 class="display-4 fw-bold">Pet Grooming Services</h1>
			  <p class="lead">Let your pet shine with our grooming experts</p>
			  <div class="mt-4">
				<button class="btn btn-warning btn-lg me-2">Book Now</button>
				<div class="btn-group">
				  <button type="button" class="btn btn-outline-warning btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Grooming Services
				  </button>
				  <ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Basic Grooming</a></li>
					<li><a class="dropdown-item" href="#">Full Spa Day</a></li>
					<li><a class="dropdown-item" href="#">Special Treatments</a></li>
				  </ul>
				</div>
			  </div>
			</div>
			<div class="col-md-6 text-center">
			  <img src="../../../assets/images/dog-grooming.png" alt="Dog Grooming" class="img-fluid main-image">
			</div>
		  </div>
		</div>
	  </div>
	</ng-template>
  </ngb-carousel>

